<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <!-- 内容区域 -->
            <div class="col-md-10">
                <input type="text" id="title" class="form-control" placeholder="写下笔记标题" [(ngModel)]="title">
                <input type="hidden" class="form-control" [(ngModel)]="id">
                <div id="editormd">
                    <textarea style="display:none;" id="text" [(ngModel)]="updateBlog.content"></textarea>
                </div>
                <hr style="margin-top: 5px;">
            </div>
            <div class="col-md-2">
                <!-- 标签 -->
                <a data-toggle="tooltip" data-placement="bottom" title="标签">
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                </a>
                <span>标签</span>
                <hr style="margin-top: 5px; margin-bottom: 6px;">
                <div>
                    <span *ngFor="let mark of marks">
                        <a class="label label-info" #mark_name data-mark-gid="0" [attr.data-mark-gid]="mark.gid" style="padding: 0.2em 0.4em 0.2em;" checkboxClickColor>{{mark.name}}</a>
                    </span>

                    <span *ngFor="let updateMark of updateMarkList">
                        <a class="label label-info" #mark_name data-mark-gid="1" [attr.data-mark-gid]="updateMark.gid" style="padding: 0.2em 0.4em 0.2em; background-color: #468847;" checkboxClickColor>{{updateMark.name}}</a>
                    </span>
                </div>
                <br>

                <!-- 分类 -->
                <a data-toggle="tooltip" data-placement="bottom" title="标签">
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                </a>
                <span>分类</span>
                <hr style="margin-top: 5px; margin-bottom: 6px;">
                <div>
                    <span *ngFor="let channel of channels">
                        <a class="label label-info" [style.background-color]="channelGid==channel.gid ? '#468847' : ''" [attr.data-channel-flag]="channelGid==channel.gid ? '1' : '0'" #channel_name [attr.data-channel-gid]="channel.gid" style="padding: 0.2em 0.4em 0.2em; " radioClickColor >{{channel.name}}</a>
                    </span>
                </div>
                <br>

                <!-- 缩略图 -->
                <a data-toggle="tooltip" data-placement="bottom" title="标签">
                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                </a>
                <span>缩略图</span>
                <hr style="margin-top: 5px; margin-bottom: 6px;">
                <a class="thumbnail">
                    <img data-src="holder.js/140x140" class="img-circle" alt="140x140" style="width: 140px; height: 140px;" src="http://og4nfuylr.bkt.clouddn.com/1745332,106.jpg" data-holder-rendered="true">
                </a>
                <br>
            </div>
        </div>
    </div>
</div>